Package: Luminum-Integrity
Version: 0.0.1
Section: base
Priority: optional
Architecture: amd64
Depends: luminum-server (>= 0.0.1)
Maintainer: Christopher R. Curzio <ccurzio@accipiter.org>
Description: The Luminum Integrity module provides file integrity
 monitoring for endpoints.
